{
    chainId: "point_10687-1",
    chainName: "Point",
    rpc: "http://rpc-mainnet-1.point.space:26657",
    rest: "http://rpc-mainnet-1.point.space:1317",
    bip44: {
        coinType: 60,
    },
    bech32Config: {
        bech32PrefixAccAddr: "point",
        bech32PrefixAccPub: "point" + "pub",
        bech32PrefixValAddr: "point" + "valoper",
        bech32PrefixValPub: "point" + "valoperpub",
        bech32PrefixConsAddr: "point" + "valcons",
        bech32PrefixConsPub: "point" + "valconspub",
    },
    currencies: [ 
        { 
            coinDenom: "POINT", 
            coinMinimalDenom: "apoint", 
            coinDecimals: 18, 
            coinGeckoId: "point", 
        }, 
    ],
    feeCurrencies: [
        {
            coinDenom: "POINT",
            coinMinimalDenom: "apoint",
            coinDecimals: 18,
            coinGeckoId: "point",
        },
    ],
    stakeCurrency: {
        coinDenom: "POINT",
        coinMinimalDenom: "apoint",
        coinDecimals: 18,
        coinGeckoId: "point",
    },
    gasPriceStep: {
        low: 0.001,
        average: 0.0025,
        high: 0.003,
    },
    keplr_features: ["ibc-transfer", "ibc-go", "eth-address-gen", "eth-key-sign"]
}
